.cart {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 1000px;
    background-color: pink;
    border: 5px solid;
}

.cart p:first-child {
    text-align: center;
    font-size: 140%;
}

.cart .items div {
    background-color: #EBEBEB;
    height: 60px;
    border-style: solid;
    border-color: black;
}

.cart button:nth-of-type(1) {
    position: absolute;
    right: 350px;
    width: 70px;
}

.cart button:nth-of-type(2) {
    position: absolute;
    right: 450px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
