html {
    font-family: 'Open Sans', sans-serif;
    background-color: #23395d;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
}

.conditions {
    height: 360px;
    width: 1000px;
    background-color: #D18F2E;
    border: 4px solid;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.conditions::-webkit-scrollbar {
    width: 20px;
  }

.conditions::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

.conditions::-webkit-scrollbar-thumb {
    background: #23395d; 
}

.spacer {
    width: 100%;
    height: 200px;
}

@media (max-width: 920px) {
    .conditions {
        width: 90%;
        height: auto;
        padding: 1%;
    }
}

@media (max-width: 800px) {
    .conditions {
        width: 95%;
        height: auto;
        padding: 1%;
    }
}