html {
    font-family: 'Open Sans', sans-serif;
    background-color: #23395d;
}

body {
    display: block;
    height: 100vh;
}

.spacer {
    width: 100%;
    height: 150px;
}

.contact {
    height: 250px;
    width: 1000px;
    background-image: url(src/blue-marble.jpg);
    border: 4px solid;
    padding: 2%;
    display: block;
    overflow: auto;
    margin: auto;
    text-align: center;
}

.contact p {
    font-size: 140%;
}

.img {
    display: inline-block;
    height: 17px;
    width: 17px;
}

@media (max-width: 920px) {
    .contact {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 800px) {
    .contact {
        width: 95%;
        height: auto;
    }
}