/* footer */
footer {
  display: block;
  background-color: #23395d;
  color: white;
  max-width: 100%;
  text-align: center;
  height: 30px;
  margin-top: 100px;
}
footer img {
  width: 25px;
  height: 25px;
}