html {
	font-family: 'Open Sans', sans-serif;
  background-color: #23395d;
  }

  /* Body styling */
  body {
	  display: block;
    height: 100vh;
  }
  .spacer {
    width: 100%;
    height: 150px;
  }
  p {
	line-height: 0;
  }
  h1,h2 {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .canvas h1 {
    font-size: 46px;
  }

  /*forgotten password section*/
  .canvas {
    border-bottom: 4px solid #46a2da;
    border-top: 4px solid #46a2da;
    background-color: #23395d;
    color: white;
    flex-wrap: none;
    justify-content: unset;
    width: 100%;
    max-height: 550px;
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    align-items: center;

  }
  .canvas section {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 24px;
    max-width: 1000px;
    max-height: 500px;
    flex-wrap: none;
    justify-content: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .canvas section form {
    font-size: 24px;
    margin-right: 10% + 10px;
    min-width: 100px;
  }
  .canvas section form input {
    font-size: 24px;
    margin-left: calc(25% - 50px);
    margin-right: 10px;
  }
  .canvas section img {
    margin-left: 30px;
  }
  .canvas button {
    margin-top: 100px;
    font-size: 32px;
    border-color: #46a2da;
    border-radius: 5px 5px 5px 5px;
    background-color: #46a2da;
    color: white;
  }
  button:hover {
    cursor: pointer;
  }