html {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(255, 255, 255);
  }

  /* Body styling */
  body {
	  width: 100%;
	  max-width: 1440px;
	  min-width: 480px;
    height: 100%;
    max-height: 1280px;
    min-height: 960px;
	  margin: 0 auto;
	  background-color: rgb(255, 255, 255);
	  position: relative;
    align-self: center;
    vertical-align: top;
  }
  p {
	line-height: 0;
  }
  h1,h2 {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  header {
    padding-bottom: 100px;
  }
  .canvas {
    background-color: rgb(210, 210, 210);
  }
  .canvas h1 {
    font-size: 46px;
  }

  /*forgotten password section*/
  .canvas {
    background-color: rgb(210, 210, 210);
    color: black;
    flex-wrap: none;
    justify-content: unset;
    width: 100%;
    max-height: 550px;
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items: center;

  }
  .canvas section {
    color: black;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 24px;
    max-width: 1000px;
    max-height: 500px;
    flex-wrap: none;
    justify-content: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .canvas section form {
    font-size: 24px;
    margin-right: 10% + 10px;
    min-width: 100px;
  }
  .canvas section form input {
    font-size: 24px;
    margin-left: calc(25% - 50px);
    margin-right: 10px;
  }
  .canvas section img {
    margin-left: 30px;
  }
  .canvas button {
    margin-top: 50px;
    font-size: 32px;
  }