.header {
    border-bottom: 4px solid #23395d;
    background-color: #46a2da;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
}

.nav-bar {
    background-color: #23395d;
    width: max-content;
    top: 0px;
    z-index: 1000;
    position: fixed;
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    color: white;
    width: 100%;
    height: 17px;
}

.nav-bar-left {
    width: max-content;
    top: 5px;
    z-index: 1001;
    position: fixed;
    left: 0;
}

.nav-bar-right {
    width: max-content;
    top: 5px;
    z-index: 1001;
    position: fixed;
    right: 0;
}

.link {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

.header-button {
    border: none;
    background-color: #23395d;
    color: white;
    padding: 8px 15px;
    font-size: 15px;
    position: absolute;
    display: block;
    margin-top: 65px;
    width: 120px;
}

.header-button:nth-of-type(1) {
    left: 190px;
}

.header-button:nth-of-type(2) {
    left: 320px;
}

.header-button:nth-of-type(3) {
    width: 90px;
    right: 170px;
}

.header-search {
    border: none;
    background-color: #23395d;
    color: white;
    padding: 8px;
    font-size: 15px;
    position: absolute;
    display: block;
    margin-top: 65px;
    right: 270px;
    text-align: center;
    max-width: 126px;
}

.header-logo {
    border-radius: 50%;
    border: 4px solid #23395d;
    position: fixed;
    width: 150px;
    padding: 10px;
    top: 0px;
    left: 50%;
    margin-left: -75px;
    background-color: #23395d;
    z-index: 1000;
}

@media screen and (max-width: 1110px) {
    .header-button:nth-of-type(1) {
        left: 100px;
    }
    .header-button:nth-of-type(2) {
        left: 230px;
    }
    .header-button:nth-of-type(3) {
        right: 80px;
    }
    .header-search {
        right: 180px;
    }
}

@media screen and (max-width: 920px) {
    .header-button:nth-of-type(1) {
        left: 10px;
    }
    .header-button:nth-of-type(2) {
        left: 140px;
    }
    .header-button:nth-of-type(3) {
        right: 10px;
    }
    .header-search {
        right: 110px;
    }
}

@media screen and (max-width: 800px) {
    .nav-bar {
        height: 40px;
    }
    .nav-bar-left {
        width: 100%;
        text-align: center;
    }
    .nav-bar-right {
        width: 100%;
        top: 27px;
        text-align: center;
    }
    .header-logo {
        top: 42px;
        max-width: 100px;
    }
    .header-button:nth-of-type(1) {
        margin-top: 0px;
        top: 45px;
    }
    .header-button:nth-of-type(2) {
        margin-top: 0px;
        top: 84px;
        left: 10px;
    }
    .header-search {
        margin-top: 0px;
        top: 45px;
        right: 10px;
    }
    .header-button:nth-of-type(3) {
        margin-top: 0px;
        top: 84px;
    }
}

@media screen and (orientation: portrait) {
    .header-logo {
        max-width: 80px;
    }
    .nav-bar {
        height: 40px;
    }
    .nav-bar-left {
        width: 100%;
        text-align: center;
    }
    .nav-bar-right {
        width: 100%;
        top: 27px;
        text-align: center;
    }
    .header-logo {
        top: 42px;
        max-width: 100px;
    }
    .header-button:nth-of-type(1) {
        margin-top: 0px;
        top: 45px;
    }
    .header-button:nth-of-type(2) {
        margin-top: 0px;
        top: 84px;
        left: 10px;
    }
    .header-search {
        margin-top: 0px;
        top: 45px;
        right: 10px;
    }
    .header-button:nth-of-type(3) {
        margin-top: 0px;
        top: 84px;
    }
}