
  html {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(255, 255, 255);
  }

  /* Body styling */
  body {
    max-width: 1440px;
    min-width: 480px;
    width: 100%;
    max-height: 1480px;
    min-height: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
    position: relative;
    align-self: center;
    vertical-align: top;
  }
  p {
	line-height: 0;
  }
  h1 {
    margin-left: 5px;
  }
  header {
    padding-bottom: 50px;
  }

  /* Navigation styling */
  nav {
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  nav ul li a:hover {
    background-color: #ffffff;
  }

  /* homepage section styling */
  .container {
    background-color: rgb(220,220,220);
    color: black;
    flex-wrap: none;
    justify-content: unset;
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .product_section {
    color: black;
    background-color: rgb(210, 210, 210);
    display: flex;
    min-width: 360px;
    max-width: 100%;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
  }
  .product_section::-webkit-scrollbar {
    height: 15px;
  }
  .product_section::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
  }
  .product_section::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .product_card {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: white;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px 15px;
  }
  .product_card img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    align-self: center;
    margin: 10px;
  }
  .product_card h3 {
    font-size: 16px;
    margin: 10px;
  }
  .product_card p {
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
  }
  .product_card button {
    margin: 10px;
  }
  .product_card button:hover {
    cursor: pointer;
  }