html {
	font-family: 'Open Sans', sans-serif;
  background-color: #23395d;
  }

  /* Body styling */
  body {
    display: block;
    height: 100vh;
  }

  .spacer {
    width: 100%;
    height: 150px;
  }

  p {
	line-height: 0;
  }
  h1,h2 {
    margin-left: 5px;
  }
  .products button:hover {
    background-color: #46a2da;
  }

  /* products section styling */
  .container {
    border-bottom: 4px solid #46a2da;
    border-top: 4px solid #46a2da;
    background-color: #23395d;
    color: white;
    flex-wrap: none;
    justify-content: unset;
    width: 90%;
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .container div {
    margin: 10px;
  }

  /* Categories styling */
  .nav {
    min-width: 160px;
    max-width: 260px;
    width: 100%;
    margin: 0;
  }
  nav {
    background-color: #46a2da;
    color: white;
    display: block;
    justify-content: unset;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: unset;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    margin: 5% 5% 5% 5%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 5%;
    transition: background-color 0.3s ease;
  }
  nav ul li:hover {
    background-color: #23395d;
  }
  .price input {
    color: white;
    font-weight: bold;
    background-color: #46a2da;
    border: solid #46a2da 1px;
    font-size: 20px;
    width: 210px;
    padding: 10px;
  }
  .price:hover {
    background-color: #23395d;
  }
  .price input:hover {
    background-color: #23395d;
    color: white;
  }
  .price input:focus {
    background-color: #23395d;
    color: white;
  }
  .price input::placeholder {
    color: white;
  }

  /* product items styling */
  .products {
    margin: 0;
  }
  .product_section {
    color: #D18F2E;
    display: flex;
    max-height: 100%;
    height: calc(100% - 80px);
    min-width: 240px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
    margin-left: 40px;
    overflow-y: scroll;
  }
  .product_section::-webkit-scrollbar {
    height: 8px;
  }
  .product_section::-webkit-scrollbar-thumb {
    background: #D18F2E;
  }
  .product_section::-webkit-scrollbar-track {
    background: #23395d;
  }
  .product_card {
    border: 2px solid #D18F2E;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: white;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px 15px;
  }
  .product_card h3 {
    font-size: 16px;
    margin: 10px;
  }
  .product_card p {
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
  }
  .product_card button {
    margin: 10px;
  }
  .product_card button:hover {
    cursor: pointer;
  }
  .paging {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    color: white;
  }
  .paging a {
    font-weight: bold;
  }
  .paging a:hover {
    cursor: pointer;
    background-color: #46a2da;
  }
  .paging a:visited {
    color: white;
    text-decoration: none;
  }
  .paging a:link {
    color: white;
    text-decoration: none;
  }
  button {
    border: none;
    background-color: #23395d;
    color: white;
  }

  /* dropdown styling */

  .dropbutton {
    background-color: #46a2da;
    color: white;
    margin-left: 10px;
    border-right: 10px solid #46a2da;
    border-top: 5px solid #46a2da;
    border-bottom: 10px solid #46a2da;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: 220px;
  }
  .dropbuton:hover {
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 28px;
    background-color: #f1f1f1;
    width: 220px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }
  
  .dropdown:hover .dropbutton {
    background-color: #23395d;
    border-right: 20px solid #23395d;
    border-top: 5px solid #23395d;
    border-bottom: 10px solid #23395d;
  }

  .product-card-img {
    object-fit: cover;
    width: 100%;
    height: 110px;
  }

  @media screen and (max-width: 490px) {
    .container {
      flex-flow: column;
      max-height: 100%;
    }

    .product_section {
      margin-left: 0;
      justify-content: unset;
    }

    .product_card {
      margin-left: 0;
    }
  }