html {
	font-family: 'Open Sans', sans-serif;
	background-color: #23395d;
  }

  /* Body styling */
  body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    min-height: 800px;
    margin: 0 auto;
    position: relative;
    align-self: center;
    vertical-align: top;
  }

  .spacer {
    width: 100%;
    height: 150px;
}

  p {
    line-height: 0;
  }
  h1,h2 {
    margin: auto;
  }
  .canvas {
    border-bottom: 4px solid #46a2da;
    border-top: 4px solid #46a2da;
    color: white;
    padding-top: 10px;
    width: 90%;
    margin: auto;
  }
  .canvas h1 {
    font-size: 40px;
    text-align: center;
  }
  .input_files {
    margin-bottom: 50px;
    width: 325px;
    border-color: #46a2da;
    border-radius: 5px 5px 5px 5px;
    background-color: #46a2da;
    font-size: 28px;
    color: white;
  }
  .files_label {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }

  button:hover, .input_img:hover {
    cursor: pointer;
  }

  /*input section*/
  .all_input {
    height: auto;
    padding-bottom: 10px;
  }
  .all_input section {
    margin-top: 5%;
    font-size: 24px;
    height: auto;
    width: 33.3333333333333333%;
    float: left;
  }
  .all_input section label {
    font-size: 16px;
    max-width: 50px;
    max-height: 50px;
  }
  .all_input section input {
    font-size: 24px;
  }
  .description {
    font-size: 24px;
    width: 295px;
    height: 90px;
    text-align: left;
    resize: none;
  }
  .description::-webkit-scrollbar {
    height: 5px;
  }
  .description::-webkit-scrollbar-thumb {
    background: #46a2da;
  }
  .description::-webkit-scrollbar-track {
    background: white;
  }

  .categories {
    font-size: 24px;
    width: 300px;
    height: 35px;
  }
  .categories .empty {
    color: #707070;
  }
  .categories option {
    color: black;
  }

  .confirm_button {
    text-align: center;
    font-size: 28px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-color: #46a2da;
    border-radius: 5px 5px 5px 5px;
    background-color: #46a2da;
    font-size: 28px;
    color: white;
  }

  @media screen and (max-width: 1250px) {
    .all_input {
      display: block;
      flex: none;
    }
    .all_input section {
      float: none;
      margin:auto;
    }
    .confirm_button {
      clear: both;
    }
  }
  /*@media screen and (max-width: 920px) {
    .all_input {
      flex-direction: column;
    }
    .all_input section {
      margin-top: 10px;
    }
    .confirm_button {
      margin-top: 0px;
      margin-bottom: 25px;
    }
  }
  @media screen and (orientation: portrait) {
    .all_input {
      flex-direction: column;
    }
    .all_input section {
      margin-top: 10px;
    }
    .confirm_button {
      margin-top: 0px;
      margin-bottom: 25px;
    }
  }*/