html {
	font-family: 'Open Sans', sans-serif;
  background-color: #23395d;
  }

  /* Body styling */
  body {
    display: block;
    height: 100vh;
  }
  .spacer {
    width: 100%;
    height: 150px;
}
  p {
	line-height: 0;
  }
  h1,h2 {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  }
  .canvas h1 {
    font-size: 46px;
  }

  /*login section*/
  .canvas {
    border-bottom: 4px solid #46a2da;
    border-top: 4px solid #46a2da;
    background-color: #23395d;
    color: white;
    flex-wrap: none;
    justify-content: unset;
    width: 80%;
    max-height: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin: auto;
  }
  .canvas section {
    margin-top: 50px;
    font-size: 24px;
    max-width: 1000px;
    max-height: 500px;
    margin: 30px auto 0 auto;
  }
  .canvas section form {
    font-size: 24px;
    min-width: 100px;
    text-align: center;
    margin: auto;
  }
  .canvas section form input {
    font-size: 24px;
    text-align: center;
    margin: auto;
    padding: 5px;
  }
  .canvas section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  #confirm_login {
    border: none;
    background-color:#23395d;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #46a2da;
  }
  #confirm_login:hover {
    background-color: #46a2da;
    cursor: pointer;
  }

  @media screen and (max-width: 700px) {
    .canvas section img {
      width: 100px;
    }
    .canvas section form input {
      width: 200px;
    }
  }