  html {
	font-family: 'Open Sans', sans-serif;
  background-color: #23395d;
  }

  /* Body styling */
  body {
    display: block;
    height: 100vh;
  }
  .spacer {
    width: 100%;
    height: 150px;
}
  p {
	line-height: 0;
  }
  h1,h2 {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  h1 {
    font-size: 30px;
  }

  .back {
    position: relative;
    left: 700px;
    top: -20px;
    width: 60px;
    height: 60px;
  }

  /*product section*/
  .product_section {
    border-top: 4px solid #46a2da;
    border-bottom: 4px solid #46a2da;
    color: white;
    background-color: #23395d;
    flex-wrap: none;
    justify-content: unset;
    width: 100%;
    min-height: 650px;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  /*product photos*/
  .photos {
    max-width: 650px;
    max-height: 650px;
    min-width: 160px;
    min-height: 160px;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5px;
    overflow-y: scroll;
    overflow-x:hidden;
  }
  .photos::-webkit-scrollbar {
    width: 10px;
  }
  .photos::-webkit-scrollbar-thumb {
    background: #46a2da;
  }
  .photos::-webkit-scrollbar-track {
    background: #23395d;
  }
  .photos img {
    border: 3px solid #46a2da;
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
    margin-top: 5px
  }

  /*description*/
  .description {
    font-size: 18px;
    max-width: 600px;
    display: block;
    width: calc(min-content - 10px); 
    min-width: 50px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
  }

  /*shoe size*/
  .h_shoe_size {
    margin-bottom: 2px;
    margin-top: 50px;
  }
  .shoe_size {
    color: #23395d;
    background-color: white;
    margin-bottom: 20px;
    max-height: 50px;
    min-height: 10px;
    min-width: 10px;
    max-width: 150px;
    width: 100%;
    height: 100%;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
  }
  .shoe_size:hover {
    cursor: pointer;
  }

  /* number of products*/
  .product_num {
    margin-bottom: 20px;
    max-height: 50px;
    min-height: 10px;
    min-width: 10px;
    width: 68%;
    height: 100%;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
  }

  /*shoe info*/
  .shoe_info {
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: none;
    margin-left: 5%;
  }
  .shoe_info button {
    font-size: 25px;
    text-align: center;
    margin-right: 20px;
    margin-top: 50px;
    background-color: #46a2da;
    color: white;
    border: 2px solid #3d8dbe;
  }
  .shoe_info button img{
    width: 25px;
    height: 25px;
  }
  .shoe_info button:hover {
    cursor: pointer;
  }
  .rating {
    font-size: 25px;
    text-align: center;
  }
  .count {
    font-size: 25px;
    text-align: center;
  }
  .add_to_cart {
    margin-top: 100px;
    font-size: 32px;
    border-color: #46a2da;
    border-radius: 5px 5px 5px 5px;
    background-color: #46a2da;
    color: white;
  }
  .shoe_info button:hover {
    cursor: pointer;
    border: 2px solid #32749c;
  }

  @media screen and (max-width: 1250px) {
    .shoe_info {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 990px) {
    .photos {
      max-width: 320px;
    }
  }

  @media screen and (max-width: 400px) {
    .product_section {
      flex-direction: column;
    }
  }